@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
	background-color: #3b386d;
	font-family: 'Poppins', sans-serif;
}

.container{
	// max-width: 1800px;
}

$white: #ffffff;
$black: #000000;
$primary-color: #3b386d; // Purple
$secondary-color: #282155; //Dark purple
$blue-color: #3b79f7;
$green-color: #1cb142;
$pink-color: #e85365;
$light-blue: #2FB4FF;
$dark-blue-color: #0B417C;